.information {
    color: white;
    background-color: $primary-color;
    background-image: url("images/pozadi.jpg");
    background-size: cover;
    padding: 2rem;
    position: relative;
    right: 0rem;
    img {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    h1 {
        font-size: 500%;
        font-weight: normal;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 200%;
        font-weight: lighter;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .btn {
        margin-right: 2rem;
        margin-bottom: 1.5rem;
        padding: 1rem 2rem 1rem 2rem;
        border-color: white;
        font-size: 1.2rem;
    }
    .btn-primary {
        background-color: $primary-color;
    }
    .btn-outline-primary {
        color: white;
        .btn-outline-primary a:hover {
            background-color: $primary-color;
        }
    }
}

@media (max-width: 900px) {
    .information img {
        visibility: hidden;
    }
}

.content {
    padding: 2rem;
    text-align: center;
    .col-sm {
        .p {
            padding: 1rem;
        }
    }
    .container img {
        width: 65px;
    }
    .h3,
    h3 {
        color: $primary-color;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1rem;
    }
}